:root {
	--black-header: #252525;
	--grey-header: #7b7b7b;
	--black-section: #1d1d1b;
	--white: #f6f6f6;
	--z-index-mobile-menu: 20;
	--z-index-backdrop: 19;
	--z-index-header: 18;
	--transition: all 0.3s ease-in-out;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hidden {
	visibility: hidden;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: var(--black-section);
	line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	line-height: 150%;
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

a:focus {
	outline: var(--black-section);
}

img,
picture,
svg,
video,
canvas {
	max-width: 100%;
	height: auto;
}

button {
	outline: none;
	border: none;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	padding: 0;
	border: none;
}

input,
textarea,
select {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
	appearance: none;
}

/* Common */

section {
	position: relative;
	overflow: hidden;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1310px;
	padding: 0 15px;
}

.relative {
	position: relative;
}

.button-primary {
	background-color: #fff;
	color: var(--black-section);
	border: 1px solid white;
	font-size: 16px;
	border-radius: 30px;
	transition: var(--transition);
	cursor: pointer;
	box-shadow: 0px 0px 10px 0px #ffffff66;
	padding: 7px 25px;
	line-height: 160%;
}

.button-primary:hover,
.button-primary:focus {
	background-color: transparent;
	border: 1px solid #e1e1e1;
	color: #f0f0f0;
}

.backdrop {
	display: none;
	min-height: 100dvh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: var(--z-index-backdrop);
	position: absolute;
	inset: 0;
	transition: var(--transition);
}

body.backdrop-opened {
	overflow: hidden;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* Navigation */

#header {
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: var(--z-index-header);
	color: var(--black-header);
	min-height: 163px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 22px;
	font-weight: 500;
	text-transform: uppercase;
}

.header__left,
.header__right {
	flex-grow: 1;
	max-width: 517px;
}

.header__headline {
	background-color: var(--black-header);
	padding: 14px;
	min-height: 49px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__headline h4 {
	max-width: 1280px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.header__region,
.header__socials,
.header__actions {
	padding: 16px 30px;
}

.header__region {
	color: var(--grey-header);
}

.header__region::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, var(--grey-header), #e1e1e1);
}

.header__navigation {
	display: flex;
	padding: 18px 12px;
	justify-content: center;
}

.header__navigation ul {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header__navigation ul li a {
	white-space: nowrap;
	font-size: 16px;
	display: inline-block;
	padding: 3px 0;
	position: relative;
}

.header__navigation ul li a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--black-header);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.header__navigation ul li a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.header__favorites-mobile {
	display: none;
}

.header__logo {
	flex-shrink: 0;
}

.logo-mobile {
	display: none;
}

.header__socials {
	color: var(--grey-header);
	display: flex;
	justify-content: flex-end;
}

.header__socials::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: linear-gradient(to left, var(--grey-header), #e1e1e1);
}

.header__socials p {
	padding-right: 10px;
}

.header__socials p::after {
	content: '';
	position: absolute;
	right: 0;
	width: 1px;
	height: 16px;
	background-color: var(--grey-header);
	top: 0;
}

.header__socials-list {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-left: 10px;
}

.header__socials-item {
	max-width: 20px;
	filter: grayscale(1);
	transition: all 0.3s ease-in-out;
}

.header__socials-item:hover {
	filter: grayscale(0);
}

.header__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.search-input {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--grey-header);
	padding-bottom: 4px;
	max-width: 300px;
}

.search-input__icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	opacity: 0.6;
}

.search-input__field {
	border: none;
	outline: none;
	font-size: 14px;
	color: var(--grey-header);
	flex: 1;
	background: transparent;
}

.search-input__field::placeholder {
	color: var(--grey-header);
	opacity: 1;
}

.header__actions-buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

/* Mobile menu */

.header__hamburger-menu {
	display: none;
	cursor: pointer;
	overflow: hidden;
	z-index: calc(var(--z-index-mobile-menu) + 1);
}

.header__hamburger-menu .bar {
	display: block;
	width: 20px;
	height: 2px;
	margin: 4px auto;
	background-color: var(--black-header);
	transition: all 0.4s ease-in-out;
	text-align: center;
	border-radius: 100px;
}

.header__hamburger-menu.active .bar:nth-child(1) {
	translate: 0 6px;
	rotate: 45deg;
}

.header__hamburger-menu.active .bar:nth-child(2) {
	opacity: 0;
}

.header__hamburger-menu.active .bar:nth-child(3) {
	translate: 0 -6px;
	rotate: -45deg;
}

.header__mobile-menu {
	font-size: 16px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
	padding: 16px 16px 48px 16px;
	visibility: hidden;
	position: fixed;
	width: 100%;
	max-width: 280px;
	height: 100dvh;
	background-color: #fff;
	z-index: var(--z-index-mobile-menu);
	left: -100%;
	top: 0;
	transition: all 0.4s ease-in-out;
}

.header__mobile-menu.active {
	visibility: visible;
	left: 0;
}

.mobile-menu__top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 96px;
}

.mobile-menu__logo {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	max-width: 190px;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-transform: uppercase;
}

.mobile-menu__bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4px;
}

.backdrop.mobile-open {
	display: flex;
	opacity: 0.6;
}

.mobile-menu-bottom__socials {
	display: flex;
	align-items: center;
	gap: 8px;
}

.mobile-menu-bottom__socials-item {
	max-width: 32px;
}

/* Hero section */

#hero {
	min-height: calc(100dvh - 163px);
	background-image: url('../images/hero-img.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--white);
	padding: 70px 0;
}

.hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 85px;
	height: 100%;
}

.hero__heading {
	font-size: 40px;
	line-height: 55px;
	font-weight: 400;
	font-family: 'Cinzel';
	text-align: center;
	letter-spacing: 3px;
	width: fit-content;
}

.hero__heading span {
	display: block;
	font-size: 30px;
	text-transform: none;
	font-family: 'Allura', 'Cinzel';
}

.hero__content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.hero__left {
	flex-basis: 315px;
}

.hero__left p {
	font-size: 16px;
	line-height: 180%;
	margin-bottom: 15px;
}

.hero__cta {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: fit-content;
}

.hero__cta span {
	font-family: 'Allura';
	font-size: 25px;
	line-height: 160%;
}

.hero__swiper {
	flex-grow: 1;
	max-width: 820px;
	height: 340px;
}

.swiper-slide {
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	/* width: 250px !important; */
}

.swiper-slide:first-child {
	max-height: 95%;
}
.swiper-slide:last-child {
	max-height: 92%;
}

.swiper-slide__image-wrapper {
	position: absolute;
	inset: 0;
	z-index: 0;
	transition: transform 0.5s ease;
}

.swiper-slide__image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.swiper-slide:hover {
	cursor: pointer;
}

.swiper-slide:hover .swiper-slide__image-wrapper {
	transform: scale(1.05);
}

.swiper-slide__content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 10px;
	color: white;
}

.swiper-slide__explore {
	background-color: #fff;
	border-radius: 30px;
	padding: 8px 16px;
	color: var(--black-section);
	width: fit-content;
	align-self: flex-end;
	transition: var(--transition);
	position: relative;
	font-size: 15px;
}

.swiper-slide__explore img {
	visibility: hidden;
	opacity: 0;
	transition: var(--transition);
	position: absolute;
	transition: var(--transition);
	rotate: 90deg;
	top: 10px;
	right: 20px;
}

.swiper-slide:hover .swiper-slide__explore {
	padding-right: 40px;
}

.swiper-slide:hover .swiper-slide__explore img {
	visibility: visible;
	opacity: 1;
	rotate: 0deg;
}

.swiper-slide__label {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 7px 20px;
	width: fit-content;
}

/* Animation */
@media (prefers-reduced-motion: no-preference) {
	.countries-globe circle {
		animation: 20s linear infinite rotate;
		transform-origin: center;
	}
	@keyframes rotate {
		from {
			rotate: 0deg;
		}

		to {
			rotate: 360deg;
		}
	}
	.fade-in {
		opacity: 0;
		transform: translateY(20px); /* По умолчанию появление снизу */
		transition: opacity 0.8s ease-out, transform 0.8s ease-out;
	}

	.fade-in.show {
		opacity: 1;
		transform: translateY(0);
	}

	/* Появление сверху */
	.fade-in-top {
		transform: translateY(-20px);
	}

	.fade-in-top.show {
		opacity: 1;
		transform: translateY(0);
	}

	/* Появление слева */
	.fade-in-left {
		transform: translateX(-20px);
	}

	.fade-in-left.show {
		opacity: 1;
		transform: translateX(0);
	}

	/* Появление справа */
	.fade-in-right {
		transform: translateX(20px);
	}

	.fade-in-right.show {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Media */

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		transition: none;
	}
}

@media only screen and (max-width: 1200px) {
	.header__container {
		padding: 10px 15px;
		position: relative;
	}

	.header__container::after {
		content: '';
		position: absolute;
		height: 1px;
		max-width: 100%;
		background-color: var(--grey-header);
		bottom: 10px;
		left: 15px;
		right: 15px;
	}

	.header__navigation {
		justify-content: flex-start;
		gap: 10px;
	}

	.header__navigation nav,
	.search-input {
		display: none;
	}

	.header__hamburger-menu,
	.header__favorites-mobile {
		display: block;
	}

	.header__actions {
		justify-content: flex-end;
	}

	.header__actions-buttons .favorites {
		display: none;
	}

	.hero__content {
		flex-direction: column-reverse;
		align-items: center;
		gap: 40px;
	}

	.hero__left {
		max-width: 66%;
		flex-basis: auto;
	}
}

@media only screen and (max-width: 992px) {
	.header__region,
	.header__socials,
	.header__actions,
	.header__navigation {
		padding: 14px 0px;
	}

	.header__logo {
		max-width: 142px;
	}

	.logo-desktop {
		padding-bottom: 6px;
	}

	.swiper-slide {
		width: 210px !important;
	}
}

@media only screen and (max-width: 768px) {
	.header__region,
	.header__socials {
		display: none;
	}

	.header__headline h4 {
		max-width: none;
		text-overflow: unset;
		white-space: unset;
		overflow: unset;
	}

	#hero {
		padding: 60px 0;
	}

	.swiper-slide {
		.swiper-slide {
			width: calc(100% - 40px);
		}
	}

	.hero__heading {
		font-size: 30px;
		line-height: 40px;
	}

	.mobile-menu__logo {
		max-width: 170px;
	}
}

@media only screen and (max-width: 576px) {
	.logo-desktop {
		display: none;
	}

	.logo-mobile {
		display: block;
		padding-bottom: 6px;
	}

	.header__mobile-menu {
		padding-top: 12px;
	}

	#hero {
		padding: 40px 0;
	}

	.hero__left {
		max-width: none;
	}
}

@media only screen and (max-width: 430px) {
}

@media only screen and (max-width: 380px) {
}
